# Generated on 2026-01-23
{
        ["trap_link"] = 0,
        ["carsanity"] = 0,
        ["min_mod_version"] = 10000,
        ["trap_expiration_amount"] = 5,
        ["trap_expiration_action"] = 1,
        ["gemsanity"] = 0,
        ["keysanity"] = 0,
        ["death_link_amnesty"] = 10,
        ["active_traps"] = {
                ["36"] = 2,
                ["37"] = 2,
                ["38"] = 2,
                ["35"] = 2,
                ["40"] = 2,
                ["33"] = 2,
                ["32"] = 2,
                ["44"] = 2,
                ["43"] = 2,
                ["42"] = 2,
                ["41"] = 2,
                ["34"] = 2,
        },
        ["madeline_no_dash_hair_color"] = 4503551,
        ["death_link"] = 0,
        ["music_shuffle"] = 0,
        ["madeline_feather_hair_color"] = 16766556,
        ["include_farewell"] = 0,
        ["madeline_two_dash_hair_color"] = 16739823,
        ["madeline_one_dash_hair_color"] = 11285042,
        ["goal_area"] = 10c,
        ["music_map"] = {
                ["13"] = 13,
                ["37"] = 37,
                ["15"] = 15,
                ["17"] = 17,
                ["35"] = 35,
                ["25"] = 25,
                ["33"] = 33,
                ["23"] = 23,
                ["3"] = 3,
                ["2"] = 2,
                ["5"] = 5,
                ["4"] = 4,
                ["7"] = 7,
                ["6"] = 6,
                ["9"] = 9,
                ["8"] = 8,
                ["1"] = 1,
                ["0"] = 0,
                ["21"] = 21,
                ["11"] = 11,
                ["36"] = 36,
                ["12"] = 12,
                ["16"] = 16,
                ["14"] = 14,
                ["24"] = 24,
                ["34"] = 34,
                ["22"] = 22,
                ["32"] = 32,
                ["47"] = 47,
                ["46"] = 46,
                ["45"] = 45,
                ["44"] = 44,
                ["43"] = 43,
                ["42"] = 42,
                ["41"] = 41,
                ["40"] = 40,
                ["39"] = 39,
                ["38"] = 38,
                ["26"] = 26,
                ["19"] = 19,
                ["18"] = 18,
                ["27"] = 27,
                ["10"] = 10,
                ["20"] = 20,
                ["28"] = 28,
                ["29"] = 29,
                ["30"] = 30,
                ["31"] = 31,
        },
        ["binosanity"] = 0,
        ["roomsanity"] = 0,
        ["include_goldens"] = 0,
        ["require_cassettes"] = 0,
        ["chosen_poem"] = 96,
        ["checkpointsanity"] = 0,
        ["include_c_sides"] = 0,
        ["strawberries_required"] = 60,
        ["include_core"] = 0,
        ["apworld_version"] = 10005,
        ["lock_goal_area"] = 1,
        ["include_b_sides"] = 0,
        ["madeline_hair_length"] = 4,
        ["active_levels"] = {
                [1] = 2a,
                [2] = 0a,
                [3] = 10c,
                [4] = 10a,
                [5] = 1a,
                [6] = 6a,
                [7] = 7a,
                [8] = 5a,
                [9] = 10b,
                [10] = 4a,
                [11] = 3a,
                [12] = 8a,
        },
}